In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

In [15]:
calendar_df = pd.read_csv('/Applications/devActivities/ML:DL/Udacity-DataScience/AirBnB_Analytics/Data/boston/calendar.csv')
review_df = pd.read_csv('/Applications/devActivities/ML:DL/Udacity-DataScience/AirBnB_Analytics/Data/boston/reviews.csv')
listing_df = pd.read_csv('/Applications/devActivities/ML:DL/Udacity-DataScience/AirBnB_Analytics/Data/boston/listings.csv')

In [34]:
calendar_df.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [38]:
calendar_df = calendar_df.drop(columns = ['available', 'date'])

In [35]:
review_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [39]:
review_df = review_df.drop(columns = ['reviewer_name','id'])
review_df = review_df.rename(columns = {'date':'review_date'})

,listing_id,review_date,reviewer_id,comments
0,1178162,2013-05-21,4298113,My stay at islam's place was really cool! Good...
1,1178162,2013-05-29,6452964,Great location for both airport and city - gre...
2,1178162,2013-06-06,6449554,We really enjoyed our stay at Islams house. Fr...
3,1178162,2013-06-15,2215611,The room was nice and clean and so were the co...
4,1178162,2013-06-16,6848427,Great location. Just 5 mins walk from the Airp...

In [45]:
listing_df.head()

,id,listing_url,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",NaN,"The bus stop is 2 blocks away, and frequent. B...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...","If you don't have a US cell phone, you can tex...",Plenty of safe street parking. Bus stops a few...,...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,I am in a scenic part of Boston with a couple ...,"PUBLIC TRANSPORTATION: From the house, quick p...",...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,Please be mindful of the property as it is old...,There are buses that stop right in front of th...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",I have one roommate who lives on the lower lev...,From Logan Airport and South Station you have...,...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [42]:
listing_df = listing_df.drop(columns =['scrape_id','last_scraped'])

In [43]:
df = calendar_df.set_index('listing_id').join(review_df.set_index('listing_id'), on = 'listing_id', lsuffix='_caller', how = 'inner')

In [44]:
df = df.set_index('listing_id').join(listing_df.set_index('listing_id'), on = 'listing_id', lsuffix='_caller', how = 'inner')

price          15729307
review_date    24920375
reviewer_id    24920375
comments       24901030
dtype: int64

In [ ]:
df.to_csv('/Applications/devActivities/ML:DL/Udacity-DataScience/AirBnB_Analytics/Data/boston/reviews_updated.csv')